
@{
    ViewBag.Title = "Index";
}


<p class="h2 text-danger-emphasis text-center mb-5 mt-5">Bienvenido</p>
<div class="d-flex justify-content-center align-items-center">

    <div class="row">
        <div class="col">
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Todas las Sucursales
            </a>
        </div>

        <div class="col">
            <a href="/Home/SucursalProducto" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Sucursales con productos
            </a>
        </div>

        <div class="col">
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Todos los Productos
            </a>
        </div>
    </div>
</div>

